@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:wght@400;500&display=swap');

h1 {
  font-size: 60px;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Jost', sans-serif;
}

table thead {
  background-color: #539987;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.mainHeader {
  background-color: #539987 !important;
  color: #fff;
}